
.icon-btn {
  font-size: 1rem;
  padding: 0;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  @include icon-btn-variant(35px);
}

// Material Icons
.font-24 {
  font-size: 24px;
}