html,
body {
  font-family: "Roboto";
  background: #fff !important;
  font-size: 14px;
  color: #444;
}
.header-main {
  background-color: #f0f0f0;
  padding: 0 0 5px;
  margin-bottom: 20px;
}

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.flex1 {
  flex: 1;
}
h1.pageTitle span {
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-text-fill-color: transparent;
}
ul,
li {
  list-style: none;
}
ul {
  padding-left: 0;
}
.container {
  max-width: 1040px;
  margin: 0 auto;
}
.logo img {
  max-width: 120px;
  margin-top: 10px;
}
.plainLink {
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 20px 14px;
}
.plainLink:hover {
  color: black;
  text-decoration: underline;
}
.bgLogin {
  background-image: url(assets/img/register.jpg);
  background-repeat: no-repeat;
  background-position: left;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  width: 50%;
  background: #fff;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 5vh 5vw;
  box-sizing: border-box;
}

.hasinput400 input {
  width: 400px;
}
.btn-block {
  width: 100%;
}
.customUL {
  padding-left: 0;
  margin-top: 0;
}
.customUL li {
  list-style: none;
}
.mt-0 {
  margin-top: 0;
}

.btn-circle {
  border-radius: 50%;
  position: absolute !important;
  right: 40px;
  bottom: 20px;
  background: #f44336 !important;
}
.btn-circle-add {
  border-radius: 50%;
  background: #1aacc0 !important;
}
.btn-circle-add svg,
.btn-circle svg {
  fill: white !important;
}

.text-sm {
  width: 120px;
}
.text-sm label {
  font-size: 14px;
  color: #999;
  line-height: 1.5;
}

.companyItem {
  position: relative;
  overflow: hidden;
}
.companyItem:hover {
  cursor: pointer;
}

.companyItem .info {
  padding: 2px 5px;
  color: #fff;
  position: absolute;
  left: 0%;
  bottom: 0%;
  white-space: nowrap;
  font-size: 12px;
  width: 100%;
  letter-spacing: -0.4px;
  transition: transform 0.2s ease-in-out;
  transform: translateY(100%);
  background-image: linear-gradient(-180deg, #ff9500 0%, #ff3b30 99%);
}
.companyItem:hover .info {
  transform: translateY(0%);
}

.companyItem h5 {
  margin-bottom: 0px;
}
.companyItem .img {
  background-color: #f0f0f0;
  position: relative;
  transition: all 0.2s ease-in-out;
  height: 80px;
  text-align: center;
  padding: 15px 10px;
  margin-bottom: 2px;
}
.companyItem img {
  max-width: 100%;
  max-height: 100%;
}

.companyItem:hover .img {
  opacity: 0.8;
}

.offerItem {
  background: #fff;
  overflow: hidden;
  border: 1px solid #f68f48;
  cursor: pointer;
}

.offerItem .info {
  padding: 10px;
  transition: opacity 0.2s ease-in-out;
}
.offerItem h3 {
  font-family: Roboto-Medium;
  color: #f68f48;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
}

.couponHolder {
  border: 1px dashed #888;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  line-height: 30px;
}
.couponHolder span {
  filter: blur(3px);
  font-family: Roboto-Medium;
  font-size: 20px;
  color: #f68f48;
}
.couponHolder.revealed {
  display: inline-block;
  margin-bottom: 20px;
}
.couponHolder.revealed span {
  filter: blur(0px);
}

.blockLink,
.blockLink:hover {
  text-decoration: none;
  color: #000;
}

.offerItem:hover {
  background-image: linear-gradient(0deg, #f68f48 0%, #f5a623 100%);
  border: 1px solid #f68f48;
  color: #fff;
}

.offerItem:hover h3 {
  color: #fff;
}

.offerItem:hover .couponHolder {
  border-color: #fff;
}
.offerItem:hover .couponHolder span {
  color: #fff;
}

footer {
  margin-top: 60px;
}

/* 
.offerItem .img {
  position: relative;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  height: 150px;
}
.offerItem img {
  max-width: 100%;
  object-fit: scale-down;
} 
.offerItem .img:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-image: linear-gradient(
    -179deg,
    rgba(255, 149, 0, 0.85) 1%,
    rgba(255, 59, 48, 0.85) 100%
  );
}

.offerItem:hover .img {
  transform: scale(1.1);
}

.offerItem:hover .info,
.offerItem:hover .img:before {
  opacity: 1;
}
*/

.tagline {
  font-size: 8px;
  letter-spacing: 2px;
  color: #999;
  text-decoration: none;
  display: block;
}

@media screen and (min-width: 767px) {
  .companyList {
    display: block !important;
  }
  .shown-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hidden-mobile {
    display: none !important;
  }
  .shown-mobile {
    display: block !important;
  }
  .ham {
    display: block !important;
    position: absolute;
    right: 20px;
    top: 18px;
  }
}

.loud404 {
  text-align: center;
}

.loud404 span {
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 230px;
  line-height: 1;
  -webkit-text-fill-color: transparent;
}

.modalBox {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  background: rgba(0, 0, 0, 0.2);
}

.modalBoxContent {
  background: #fff;
  padding: 40px;
  border-radius: 1vw;
  max-width: 400px;
  margin: 10% auto 0;
  box-shadow: inset 0 -5px 0 #f68f48;
  text-align: center;
  position: relative;
}
.modalBoxContent img {
  max-width: 100%;
  height: auto;
}
.modalBoxContent h1 {
  margin-top: 0;
}

.textMuted {
  color: #999;
}
.close {
  position: absolute;
  right: 20px;
  top: 10px;
  text-decoration: underline;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
