extends layout

block content
  table(width='624' style='max-width:624px' cellpadding='0' cellspacing='0' border='0')
  tbody
    tr
      td
        u
        div(style='margin:0px;padding:0px;font-family:Lato,sans-serif')
          table(width='624' cellpadding='0' cellspacing='0' border='0' style='border-collapse:collapse')
            tbody
              tr(style='background:#f5f5f5')
                td(colspan='2' style='padding-left:15px;padding-right:15px;padding-top:25px;padding-bottom:25px;font-size:14px;line-height:24px;color:#4d4d4d')
                  | Dear #{name},
                  br
                  br
                  |         Thank you for contacting us.
                  br
                  br
                  |     We got to know that your subject for contacting us is 
                  a(style='color:#a50c13;text-decoration:none') &quot;#{sub}&quot;
                  br
                  br
                  |     So we are quickly looking to your response with message and help you there for anything.. Thank you so much.
                  br
                  br
                  | Regards,
                  br
                  | Nepal offers team
              