.app-header {
  &.header-elevation {
    z-index: 2;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    // @include mdc-elevation(8);
  }
}

.app-sidenav .sidenav-header {
  &.header-elevation {
    z-index: 2;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    // @include mdc-elevation(8);
  }
}

.app-sidenav-container {
  // z-index: 1;
  // @include mdc-elevation(8);
}


.app-sidenav {
  &.sidenav-elevation {
    z-index: 1;
    @include mdc-elevation(8);
  }
}