
// https://github.com/ant-design/ant-design/blob/master/components/menu/style/index.less


// Variables
// map antd variables 
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
$line-height-base:          40px;
$ease-out:                  cubic-bezier(0.215, 0.61, 0.355, 1);


// Override antd menu
.app-menu {
  &.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent;
  }

  .ant-menu-item,
  .ant-menu-submenu-title {
    padding-left: 0 !important; // override inline, luckily, it's the only one inline style
    padding: 0;
  }
  .ant-menu-item {
    &:after {
      content: none; // remove 3px solid right border when selected
    }
  }
  // levels
  .nav-item {
    padding-left: 24px;
  }
  ul .nav-item { // 2nd level
    padding-left: 48px;
  }
  ul ul .nav-item { // 3rd level
    padding-left: 72px;
  }
  ul ul ul .nav-item { // 4rd level
    padding-left: 96px;
  }

}

.ant-menu-inline-collapsed {

}
// Collapsed
.ant-menu-vertical .ant-menu-item {
  padding: 0;
}


.ant-menu-submenu-popup {

}

// Override material-ui Button components
// for vertical inline menu, collapsed inline menu
button.nav-item,
a.nav-item {
  position: relative;
  display: block;
  padding: 0 16px 0;
  text-decoration: none;
  text-transform: none;
  line-height: $line-height-base;
  border-radius: 0;
  text-align: left;
  min-width: 1px;
  width: 100%;
  // color: rgba(0,0,0,.87); // Must! so that text in tooltip (when antd menu collapsed) is still white

  .material-icons {
    // position: relative;
    // bottom: -2.5px; // hack for vertical positioning
    font-size: 16px;
    width: 16px; // fix for material-icons, otherwise long text causes menu item to flash
    margin-right: 8px; // 16px (width) + 8px (margin-right) = 24px (padding-left)
    // transition: 
  }

  &:hover {
    color: $primary;
  }
}

// Styling

.ant-menu-item-selected {
  .nav-item {
    color: $primary;
  }
}

.ant-menu-dark {
  .nav-item {
    color: rgba(255,255,255,.65);
  }
}









