@keyframes slideDialog {
  from {
    left:50%;
    top: 0;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform:translateX(-50%);
  }
  to {
    opacity: 1;
    left:50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }
}
.slide-dialog {
  -webkit-animation:slideDialog 0.2s ease-in-out;
 -moz-animation-name:slideDialog 0.2s ease-in-out;
      animation-name:slideDialog 0.2s ease-in-out;
  -ms-animation-name:slideDialog 0.2s ease-in-out;
   -o-animation-name:slideDialog 0.2s ease-in-out;
}