@import "../../styles/variables";

.page-err {
  position: relative;

  .err-container {
    padding: 45px 10px 0;
    @media (min-width: map-get($grid-breakpoints, md)) {
      padding: 100px 0 0;
    } 
  }

  .err {

    h1 {
      margin-bottom: 2rem;
      font-size: 150px;
      font-weight: $font-weight-light;
      @media (min-width: map-get($grid-breakpoints, md)) {
        font-size: 180px;
      } 
    }

    h2 {
      margin: 0;
      font-weight: $font-weight-light;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }

  .err-body {
    padding: 20px 10px;
  }

}