body {
  font-family: "Open Sans";
  background: #f6f6f6;
  font-size: 14px;
}
.App {
  text-align: left !important;
}

.header {
  background: #0eb7cf;
  padding: 10px 0 5px;
}
.header .input-group-text {
  color: white;
}
.form-control:focus,
.form-control:active {
  outline: none;
}

.post {
  background: #fff;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.post textarea,
.post textarea:focus,
.post textarea:active {
  border: none;
  outline: 0;
  box-shadow: none;
  width: 100%;
  resize: none;
}
.bold {
  font-weight: 600;
}
.overShadow {
  padding: 0 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 0) 35%,
    rgba(0, 0, 0, 0.39) 100%
  );
}

.responsive-img {
  max-width: 100%;
}
.maxWidth40 {
  max-width: 40px;
}
.maxWidth20 {
  max-width: 20px;
}
.height20 {
  height: 20px;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}

.card-box {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
}
.card-box h4 {
  /* Everest Base Camp Tr: */
  font-family: OpenSans;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 22px;
}

.image-container {
  position: relative;
  overflow: hidden;
}
.image-container img {
  transition: transform 0.2s ease-in-out;
}

a.containsDiv:hover .image-container img {
  transform: scale(1.05);
}

.img-pagination {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: #fff;
}
.text-sm {
  font-size: 0.7rem;
}
.text-lg {
  font-size: 1.3rem;
}
.lh-1 {
  line-height: 1;
}

.input-search {
  background: #20a2b4;
  border-radius: 4px;
}
.input-search .input-group-text,
.input-search .form-control {
  background: none;
  border-color: transparent;
}

.input-search .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.input-search .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.input-search .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
.color-white {
  color: #fff;
}

.color-white .icon-inner,
.color-white svg,
.color-white path {
  fill: white !important;
  stroke: white !important;
}

ul.navList {
  border-left: 1px solid #ddd;
  padding-left: 0;
}
ul.navList li {
  display: block;
}
ul.navList li a {
  border-left: 2px solid transparent;
  display: block;
  padding: 10px 20px;
  color: #333;
}
ul.navList li a.active {
  border-left: 2px solid #3ec5d8;
}

.nav-horz {
  padding-top: 100px;
  opacity: 0.7;
}
.nav-horz li {
  padding: 0 5px;
  font-size: 12px;
}
.alignItemCenter {
  align-items: center;
}
a.containsDiv,
a.containsDiv:hover {
  color: #555;
  text-decoration: none;
}
