
// Including: Gradient text, Dropcap, Highlight, List, divider/space, background

// h1 {
//   font-weight: $font-weight-light;
//   letter-spacing: -1.5px;
// }

// h2 {
//   font-weight: $font-weight-light;
//   letter-spacing: -0.5px;
// }

// h4 {
//   letter-spacing: 0.25px;
//   font-weight: normal;
// }

// h6 {
//   font-weight: $font-weight-500;
//   letter-spacing: 0.15px;
// }

// Dropcap
.dropcap,
.dropcap-square,
.dropcap-circle {
  display: block;
  float: left;
  font-weight: normal;
  line-height: 36px;
  margin-right: 6px;
  text-shadow: none;    
}

.dropcap {
  font-size: 3.1em;
}

.dropcap-square,
.dropcap-circle {
  background-color: $gray-200;
  color: $body-color;
  width: 36px;
  text-align: center;
}

.dropcap-square {
  border-radius: $border-radius;    
  font-size: 2.3em;
}

.dropcap-circle {
  border-radius: 50%;    
  font-size: 1.78em;
}

.dropcap.colored {
  color: theme-color("primary");
}

.dropcap-square.colored,
.dropcap-circle.colored {
  background-color: theme-color("primary");
  color: $white;
}


// Hightlight
.ui-highlight {
  background-color: $dark;
  color: $white;
  border-radius: $border-radius;    
  padding: 2px 5px;
  &.colored {
    background-color: theme-color("primary");
  }
}



